<h2><%= currentUser.username %>'s Profile</h2>

<ul>
    <li><a href="/teamBuilder/team">Team Builder</a></li>
    <li><a href="/teams/">Teams</a></li>
    <li><a href="/favorites/">Favorites</a></li>
</ul>