<h2><%= currentUser.username %>'s Profile</h2>

<ul>
    <li><a href="/teamBuilder/teamBuilder">Team Builder</a></li>
    <li><a href="/teamHistory/teamHistory">History</a></li>
    <li><a href="/favorites/favorites">Favorites</a></li>
</ul>